<div class="container">
  <div>
    <app-header class="header"></app-header>
  </div>
  <div class="sub-header">
    <h3 style="font-weight: bold">Books</h3>
    <h5 class="totalitems">({{ totalItems }} items)</h5>
    <!-- <h5 class="book_count">{{ books.length }}</h5> -->

    <select class="sortby" style="font-weight: bold">
      <option>Sort by relevance</option>
      <option (click)="sortBy('DSC')">Price: High to Low</option>
      <option (click)="sortBy('ASC')">Price: Low to High</option>
      <option>Newest Arrival</option>
    </select>
  </div>

  <div class="main">
    <app-home></app-home>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
